body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    margin: 8px;
    opacity: 0.2;
    border-radius: 2px;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}