<!DOCTYPE html>
<!-- Landing Page -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Checkout current food and fuel prices</h1>
      <p>All Brands. Across the State.</p>
      <!-- Create button that triggers scrapper -->
      <p><a class="btn btn-primary btn-lg" href="/scrapefuel" role="button">Get latest data from fuel watch!</a></p>
      <br>
      <p><a class="btn btn-primary btn-lg" href="/mapfuel" role="button">Map Stations</a></p>
      <br>
      <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button">Show dashboard</a></p>
    </div>
    <h2>Explore food and fuel price information in Western Australia</h2> 

  </div>


  </div>
</body>

</html>
