<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fuel Watch Scrape</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Checkout current fuel prices</h1>
      <p>All Brands. Across the State.</p>
      <!-- Create button that triggers scrapper -->
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get latest data!</a></p>
    </div>
    <h2>Extract petrol information in Western Australia</h2> <!-- JS Arithmetic with average price -->
    <!-- <h3>Price: {{ fuel.price}}</h3>
    <h3>Latitude: {{ fuel.latitude }}</h3>
    <h3>Longitude: {{ fuel.longitude }}</h4>-->
    <h3>Number of stations: {{ fuel.StationsNO }}</h3>
  </div>


  </div>
</body>

</html>
